# --- FRONTEND (NEXT.JS) ---
# The URL of your Stacks node (mainnet or testnet)
NEXT_PUBLIC_STACKS_NETWORK=testnet

# Your smart contract address and name
NEXT_PUBLIC_CONTRACT_ADDRESS=example_address
NEXT_PUBLIC_CONTRACT_NAME=example-contract
NEXT_PUBLIC_TOKEN_CONTRACT_ADDRESS=bigview_token_address_here
NEXT_PUBLIC_POX_CONTRACT_ADDRESS=ST000000000000000000002AMW42H
NEXT_PUBLIC_POX_CONTRACT_NAME=pox-4
NEXT_PUBLIC_SBTC_ADDRESS=SM3VDXK3WZZSA84XXFKAFAF15NNZX32CTSG82JFQ4
NEXT_PUBLIC_SBTC_NAME=sbtc-token


