@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-inter: "Inter", sans-serif; 
  --gold-background: #fde68a;
  --gold-buttons: #fbbf24;
  --text-color: #000000;
  --violet-background: #7c3aed;   /* The "Red-ish" glowing edge (Violet-600) */
  --violet-main-background: #0B011D;
}

body {
  font-family: var(--font-inter); 
  background-color: var(--violet-main-background);
color: var(--text-color); 
  /* This forced font-family ensures Inter is everywhere! */
  font-family: var(--font-inter), sans-serif !important;
  min-height: 100vh;
  @apply antialiased overflow-x-hidden;
}